// RESET

// univeral
*{
    font-family: "Playfair Display", serif;
    font-size: 13px; 
    color: black;
    margin: 0;
    padding: 0;
}

// body
body{
   background-image: linear-gradient(to bottom,#E0C17E, #e0c17e75);
}