// reset
:root {
    --clr-main: #cd9c31;
    --clr-sec: #9B3E15;
    --clr-back: #e0c17e;
    --clr-back2: #e0c17e75;
}

* {
    font-family: "Playfair Display", serif;
    color: black;
    margin: 0;
    padding: 0;
//box-sizing: border-box;
//background-color: var(--clr-back2);
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
