// reset
/*
    $color-main: #cd9c31;
    $color-sec: #9B3E15;
    $color-back: #e0c17e;
    $color-back-sec: #e0c17e75;
*/

* {
    font-family: "Playfair Display", serif;
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom,#E0C17E, #e0c17e75);

}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
