$color-main: #cd9c31;
$color-sec: #9B3E15;
$color-back: #e0c17e;
$color-back-sec: #e0c17e75;

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-back;
    font-weight: 500;
    border-top: 2px solid $color-sec;
    padding: 5px;
    height: 50px;
    p{
        color: #9B3E15;
        padding: 5px;
        margin: 10px;
        font-weight: 600;
    }
    ul{
        display: flex;
        margin: 4px;
        justify-content: space-around;
        li{          
            align-items: center;
            padding: 5px;
            i{
                transition: 2s;
                padding: 5px;
                color: $color-sec;
                font-size: 18px;
                &:hover{
                     font-weight: bolder;
                }
            }
        }    
    }      
}