$color-principal: #cd9c31;
$color-secundario: #9B3E15;
$color-fondo1: #E0C17E;

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-fondo1;
    font-weight: 500;
    border-top: 2px solid $color-secundario;
    
        padding: 5px;
        height: 50px;
        margin: 8px 15px;
       
        p{
            color: black;
            padding: 5px;
            margin: 10px;
        }
        ul{
            list-style-type: none;
            display: flex;
            margin: 4px;
            justify-content: space-around;
            li{          
                align-items: center;
                padding: 5px;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        font-weight: bolder;
                        margin: 8px; 
                    }
                }
            }
        }
        
    }
    nav{
        ul{
            list-style-type: none;
            display: flex;
            margin: 8px 4px 4px 4px;
            li{
                margin: 10px;
                transition: 2s;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                    font-weight: bolder;
                    margin: 2px; 
                    }
                }
            }
        }
    }
        i{
      
        transition: 2s;
            padding: 5px;
            color: $color-secundario;
            font-size: 18px;
            &:hover{
            font-weight: bolder;
            margin: 2px;          
            }
        }
    