/*header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: global-variable-exists($name: --clr-main);
    font-weight: 500;
    border-bottom: 2px solid global-variable-exists($name: --clr-sec);
}
nav{
    ul{
        list-style-type: none;
        display: flex;
        margin: 8px 4px 4px 4px;
        li{
            margin: 10px;
            transition: 2s;
            a{
                text-decoration: none;
                color: black;
                &:hover{
                font-weight: bolder;
                margin: 2px; 
                }
            }
        }
    }
}
.header-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px;
    transition: 2s;
    i{
        padding: 5px;
        color: global-variable-exists($name: --clr-sec);
        font-size: 18px;
        &:hover{
        font-weight: bolder;
        margin: 2px;          
        }
    }
}
*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    padding: 5px 5px 0px 5px;
    .logo{
        background-color: red;
        font-size: 20px;
        font-weight: 800;
        span{
            font-size: 12px;
            padding-left: 4px;
        }
    }
    nav{
        ul{
            display: flex;
            li{
              padding: 0px 6px;  
              background-color: blue; 
              .boton-menu{
                background-color: transparent;
                border: 0;
                color: white;
                cursor: pointer;
                

              }
              .active{
                background-color: violet;
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                position: relative;
                &:before{
                    content: "hola";
                    position: absolute;
                    background-color: black;
                    top: 100%;
                    border-bottom-right-radius: 15px;
                    border-bottom-left-radius: 15px;
                    box-shadow: 15px 1rem 15px blue;
                }
            }
            }
        }
    }
    .header-icons{
        background-color: yellow;
        span{
            background-color: pink;
            padding: 0 .25rem;
            border-radius: .15rem .25rem;
        }
    }
}
    

