$color-principal: #cd9c31;
$color-secundario: #9B3E15;
$color-fondo1: #E0C17E;

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-fondo1;
    font-weight: 500;
    border-bottom: 2px solid $color-secundario;
    .header-logo{
        height: 30px;
        margin: 8px 15px;
        align-items: center;
    }
    nav{
        ul{
            list-style-type: none;
            display: flex;
            margin: 8px 4px 4px 4px;
            li{
                margin: 10px;
                transition: 2s;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                    font-weight: bolder;
                    margin: 2px; 
                    }
                }
            }
        }
    }
    .header-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 15px;
        transition: 2s;
        i{
            padding: 5px;
            color: $color-secundario;
            font-size: 18px;
            &:hover{
            font-weight: bolder;
            margin: 2px;          
            }
        }
    }
}